.success-notice {
  background: #b2ff9b;
  border-left: 8px solid #3dff02;
  padding: 4px 20px;
  width: 250px;
  font-size: 0.9em;
}
.failure-notice {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
  padding: 8px 40px;
  width: 250px;
  font-size: 0.9em;
}
.platform-alert{
  min-width: 320px;
  position: absolute;
  top: 10px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.platform-alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.platform-alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.platform-alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}

.platform-alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.platform-alert .msg{
  padding: 0 20px;
  text-align: center;
  display: block;
}
.platform-alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}
.platform-alert .close-btn:hover{
  background: #ffc766;
}
.platform-alert .close-btn .fas{
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}